*, *::after,  *::before{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(5, 158, 247), rgb(9, 245, 135));
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 5em);
    grid-template-rows: minmax(10em, auto) repeat(5, 5em);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(124, 189, 219, 0.76);
}

.calculator-grid > button:hover{
    background-color: rgba(173, 207, 223, 0.87) ;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.548);


}